env/


# === Project folders ===
APP FUTURE/
uploads/

# === Sensitive/Config files ===
config.py

# === Python artifacts ===
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# === Virtual environments ===
venv/
.venv/
env/

# === IDE/Editor ===
.vscode/
.idea/

# === Node/JS/Other ===
.eslintignore
.eslintrc.json

# === Misc ===
*.bat
PEFFORT/