<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>3D Map View - {{ distance_km|round(1) }} km</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.js'></script>
    <link href='https://unpkg.com/maplibre-gl@3.6.2/dist/maplibre-gl.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js'></script>
    <link href='/static/css/map3d.css' rel='stylesheet' />
</head>
<body>
    <div id='hover-tooltip'></div>
    <div id='map'></div>
    <div id='elevation-chart'>
        <div id='resize-handle'></div>
    </div>
    
    <div id='sidebar'>
        <button id='sidebar-close'>✕</button>
        <div id='sidebar-content'></div>
    </div>

    <div class='controls'>
        <select id='styleSelect'>
            <option value='0'>Outdoor</option>
            <option value='1'>Streets</option>
            <option value='2'>Topo</option>
            <option value='3'>Bright</option>
            <option value='4'>Dark</option>
            <option value='5'>Winter</option>
            <option value='6'>Satellite</option>
            <option value='7'>Hybrid</option>
        </select>
        <button class='control-btn' onclick='resetView()'>🎯 Reset View</button>
    </div>

    <script>
        // Variables for map3d.js
        const geojson_str = {{ geojson_str | safe }};
        const elevation_data_json = {{ elevation_data_json | safe }};
        const efforts_data_json = {{ efforts_data_json | safe }};
        const maptiler_key = '{{ maptiler_key }}';
        const center_lat = {{ center_lat }};
        const center_lon = {{ center_lon }};
        const zoom = {{ zoom }};
    </script>
    <script src='/static/js/map3d.js'></script>
</body>
</html>
